<nav class="navbar d-flex justify-content-center navbar-expand-lg  bg-white text-center">
    <a class="navbar-brand" class="text-dark" href="<%= root_path %>">
      <%= image_tag "buddyplan", class: "logo", style: "padding-right: 5px;" %>
      <span class="logo-text text-dark">buddyplan.net</span>
    </a>
</nav>
