<h4>buddyplan</h4>
<div class="list-group">
    <%= link_to with_icon("home", "Home"), root_path, class: "list-group-item list-group-item-action #{'active' if params[:controller] == "home"}" %>
    <%= link_to with_icon("video-camera", "Movies"), movies_path, class: "list-group-item list-group-item-action #{'active' if params[:controller] == "movies" || @movie.present?}" %>
</div>
<% if @movie %>
  <%= render partial: "movies/sidebar" %>
<% end %>

<%= content_for :sidebar %>
