<%= content_for :title do %>
  Under maintainance
<% end %>
<p>Welcome potential partner<br>
  This page is under construction during Summer 2019</p>
<p>
You have either received an invitation or have been lucky to alight here
</p>
<p>
If the latter is the case we recommend returning in Autumn 2019. <br>
  Otherwise you know who to contact in order to place an inquiry
</p>
<p>We are looking forward to joining forces with you</p>

