<%= content_for :title do %>Your account<% end %>

Welcome <%= current_user.email %>

<hr>

<h4 class="logo-text">Watchdogs</h4>
<p>You have <strong class="logo-text"><%= current_user.watchdog_credits || 0 %></strong> credits left.</p>

