$primaryColor: rgb(25, 174, 233);

body {
  background:#f1f1f1;
  font-family: 'Roboto', sans-serif;
}
.separator polygon.fill-white {
  fill: #f1f1f1;
}
.logo-text {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.import-toggle {
  min-height: 83px;
  display: flex;
  align-items: center;
}
.import-toggle, .field {
  padding-bottom: 15px;
  margin-bottom:15px;
}

.fake-checkbox {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-color: #ddd;
}

.lead-icon {
  position: absolute;
  opacity: 0.05;
  font-size: 96px !important;
}
.content-wrapper {
  box-shadow: 0px 3px 15px rgba(0,0,0,.1);
  background: #fff;
  border-radius: 2px;
  padding: 20px;
}

hr {
  margin: 20px -20px;
}
.navbar {
  box-shadow: 0 3px 15px rgba(0,0,0,.1);
}
.content-wrapper-title, .content-wrapper-footer {
  background: #fff;
  height: 60px;
  margin: -20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: 18px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(25, 174, 233, 0.05);
}
.content-wrapper-title {
  justify-content: center;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  color: #000;
}


.content-wrapper-footer {
  margin-top: 0;
  margin-bottom: -20px;
  border-bottom: 0;
  border-top: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

.scheduled-events-empty {
  text-align: center;
  color: #c5dbef;
  padding: 40px;
}

footer {
  background-color: #fff;
  padding: 20px;
  padding-top: 40px;
  align-content: center;
  justify-content: space-between;
}

.scheduled-events {
  margin: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 15px rgba(0,0,0,.1);
  padding: 15px;
}

.scheduled-day {

}


.sidebar h4 {
  font-size: 14px;
  color: #999;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(255,255,255,.3);
}

.sidebar .list-group {
  margin-bottom: 40px;
}
.sidebar .list-group-item {
  background: none;
  border:none;
}

.sidebar .list-group-item a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

.sidebar .list-group-item img {
  height: 25px;
  margin-right: 5px;
}

.sidebar .list-group-item.active {
  color: $primaryColor;
}

.tab-bar {
  box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  display: flex;
  margin: -20px;
  margin-bottom: 0;
}

.tab-bar .tab {
  display: inline-block;
  padding: 8px 8px;
  width: 100%;
  text-align: center;
  border-right: 1px solid #ccc;
  font-size: 12px;
  color: #333;
}

.tab-bar .tab:last-child {
  border-right: none;
}

.tab-bar .tab-active {
 color: $primaryColor;
  font-weight: bold;
}

.schedule-table tr.event-row {
  opacity: 0.5;
}

.schedule-table.hide-irrelevant tr.event-row:not(.relevant) {
  display: none;
}


.schedule-table tr.event-row.relevant {
  opacity: 1.0;
}

div.emphasized {
  font-weight: bold;
}
.schedule-event {
  background: #fff;
}

.schedule-event {
  border-bottom: 1px solid #ccc;
  margin: 0 -15px;
  padding: 0 15px;
  position: relative;
  .row.p-3 {
    padding: 0 15px;
    .col-sm-6 { padding: 0 }
  }
}

.schedule-event:hover {
}

.schedule-event:last-child {
  margin-bottom: 15px;
}

.sortable-ghost {
  background-color: rgba(47, 168, 255, 0.3);
}
.drag-handle {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: move;
  z-index: 2;
}

.branding-element {
  padding: 30px;
}

.branding-element p {
  margin-top: 10px;
}

.no-wrap {
  white-space:nowrap;
}

.scheduled-day {
  font-size: 32px;
  font-family: "Roboto Slab", sans-serif;
}
.breadcrumb-nav {
  background: #fff;

}
.breadcrumbs {
  display: flex;
  color: #fff;
}
.breadcrumbs .breadcrumb-nav-item {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

.breadcrumbs .breadcrumb-nav-item-arrow:nth-child(n + 1){
  margin-right: -20px;
}

$loopcolor: darken(#f1f1f1, 30%);
@for $i from 1 through 8 {
  $loopcolor: lighten($loopcolor, $i);

  .breadcrumbs .breadcrumb-nav-item:not(.breadcrumb-nav-item-arrow):nth-child(#{$i}), .breadcrumbs .breadcrumb-nav-item:nth-child(#{$i + 1}) {
    border-color: transparent transparent transparent rgba($loopcolor, 0.5);
  }
}

.breadcrumbs .breadcrumb-nav-item-arrow {
  display:flex;
  width: 0;
  height: 0;
  position: relative;
  border-style: solid;
  border-width: 25px 0 25px 15px;
}

.breadcrumbs .breadcrumb-nav-item-arrow:before {
  content: "";
  position: absolute;
  display:flex;
  width: 0;
  left:-15px;
  top: -24px;
  height: 0;
  border-style: solid;
  border-width: 24px 0 24px 14px;
  border-color: transparent transparent transparent #fff;
}
